    <form  class="login_form"  name = "login" method="post" action="/login">
        {{if eq .remember "on"}}
        <h1 class="login_title">用户登录</h1>
        <input type="text"  class="input_txt" name = "userName" value="{{.username}}">
        <input type="password" name = "password"  class="input_txt" value="{{.password}}">
        <div class="remember"><input type="checkbox" name="remember" checked="checked"><label>记住用户名</label></div>
        <input type="submit" value="登 录" class="input_sub">
        <input type="button" value="register" class = "input_reg">
        {{else}}
            <h1 class="login_title">用户登录</h1>
            <input type="text"  class="input_txt" name = "userName" >
            <input type="password" name = "password"  class="input_txt" >
            <div class="remember"><input type="checkbox" name="remember" ><label>记住用户名</label></div>
            <input type="submit" value="登 录" class="input_sub">
            <input type="button" value="register" class="input_reg">
        {{end}}
    </form>
