        <div class="pannel">
            <span class="sel_label">请选择文章分类：</span>
            <select name="select" id="select" class="sel_opt">
                {{range $idx, $tp := .tps}}
                {{if eq $.tpid $tp.Id}}
                    <option selected="true" value="{{$tp.Id}}">{{$tp.TypeName}}</option>
                {{else}}
                    <option value="{{$tp.Id}}">{{$tp.TypeName}}</option>
                {{end}}
                {{end}}
            </select>

            <table class="common_table">
                <tr>
                    <th width="43%">文章标题</th>
                    <th width="10%">文章内容</th>
                    <th width="16%">添加时间</th>
                    <th width="7%">阅读量</th>
                    <th width="7%">删除</th>
                    <th width="7%">编辑</th>
                    <th width="10%">文章类型</th>
                </tr>

                {{range .arts}}
                <tr>
                    <td>{{.ArtName}}</td>
                    <td><a href="/showart_{{.Id}}">查看详情</a></td>
                    <td>{{.Ctime}}</td>
                    <td>{{.Ccount}}</td>
                    <td><a href="/delart_{{.Id}}" class="dels">删除</a></td>
                    <td><a href="/editart_{{.Id}}">编辑</a></td>
                    <td>{{GetArtTypeName .Id}}</td>
                </tr>
                {{end}}
            </table>
            <ul class="pagenation">
                <li><a href="artlist_0?tpId={{.tpid}}">首页</a></li>
            {{if le .nowpage 1}}
                <li>上一页 </li>
            {{else}}
                <li><a href="/artlist_{{PrePage .pageid}}?tpId={{.tpid}}">上一页 </a> </li>
            {{end}}
            {{if ge .nowpage .pagecount}}
                <li> 下一页</li>
            {{else}}
                <li> <a href="/artlist_{{NextPage .pageid}}?tpId={{.tpid}};">下一页</a></li>
            {{end}}
                <li><a href="/artlist_{{PrePage .pagecount}}?tpId={{.tpid}}">末页</a></li>
                <li>共{{.acount}}条记录/共{{.pagecount}}页/当前{{.nowpage}}页</li>
            </ul>
